@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <img src="~/images/hack_figurinha.png" alt="Minha Imagem" class="img-fluid mt-3" />


    <!-- Imagem local -->
   @*  <img src="~/images/hack.png" alt="Minha Imagem" class="img-fluid mt-3" /> *@

    
</div>
