@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <!-- Imagem local -->
    <img src="i" alt="Minha Imagem" class="img-fluid mt-3" />

    <!-- Ou imagem externa -->
    <img src="https://via.placeholder.com/300x200" alt="Imagem Externa" class="img-fluid mt-3" />
</div>
