@model List<Dictionary<string, object?>>

<table>
    <thead>
        <tr>
            @foreach (var col in Model.First().Keys)
            {
                <th>@col</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                @foreach (var val in row.Values)
                {
                    <td>@val</td>
                }
            </tr>
        }
    </tbody>
</table>