@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table>
    <thead>
        <tr><th>Data</th><th>Total</th></tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td>@row["NomeFantasia"]</td>
                <td>@row["CNPJ"]</td>
            </tr>
        }
    </tbody>
</table>