@{
    ViewData["Title"] = "Dashboard";
}
@{
}

<div class="container mt-4">
    <h2>Dashboard</h2>

    <iframe width="100%"
            height="600"
            src="https://app.powerbi.com/view?r=SEU_LINK_AQUI"
            frameborder="0"
            allowFullScreen="true">
    </iframe>
</div>
