
@{
    ViewData["Title"] = "Dashboard";
}

<div id="consulta">
    <partial name="_TabelaSql" model="Model" />
</div>

<button hx-post="/Dashboard/Faturamento"
        hx-target="#consulta"
        hx-swap="innerHTML">
    Consulta Filiais
</button>


