@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <button hx-get="/relatorio/faturamento"
            hx-target="#resultado"
            hx-trigger="click"
            hx-indicator="#loading">
        Carregar Filiais
    </button>
    <span id="loading" class="htmx-indicator">Carregando...</span>
</div>

<div id="resultado"></div>


