@using AuthBI.Models.ViewModels

@{
    ViewData["Title"] = "Cadastro";
    @model RegisterViewModel
}

@Html.ValidationSummary()

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Criar Conta</h3>
                    <form asp-action="Register" method="post">
                        <div class="mb-3">
                            <label class="form-label">Usuário</label>
                            <input type="text" name="username" class="form-control" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">E-mail</label>
                            <input type="email" name="email" class="form-control" required />
                            <span asp-for="email"></span>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Senha</label>
                            <input type="password" name="password" class="form-control" required />
                        </div>
                        <button type="submit" class="btn btn-success w-100">Cadastrar</button>
                    </form>
                    <div class="mt-3 text-center">
                        <p>Já tem conta? <a asp-action="Login">Faça Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>